injavawetrust.jaxws.web/employeeWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/"
	name="EmployeeServiceImplService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://service/"
				schemaLocation="http://localhost:8080/injavawetrust.jaxws.web/employeeServiceWS?xsd=1" />
		</xsd:schema>
	</types>
	<message name="addEmployee">
		<part name="employee" type="tns:employee" />
	</message>
	<message name="addEmployeeResponse" />
	<message name="getEmployee">
		<part name="id" type="xsd:int" />
	</message>
	<message name="getEmployeeResponse">
		<part name="return" type="tns:employee" />
	</message>
	<message name="getEmployeesWithWrapper" />
	<message name="getEmployeesWithWrapperResponse">
		<part name="return" type="tns:employeeListWrapper" />
	</message>
	<message name="getEmployeesWithArray" />
	<message name="getEmployeesWithArrayResponse">
		<part name="return" type="tns:employeeArray" />
	</message>
	<portType name="EmployeeService">
		<operation name="addEmployee">
			<input wsam:Action="http://service/EmployeeService/addEmployeeRequest"
				message="tns:addEmployee" />
			<output wsam:Action="http://service/EmployeeService/addEmployeeResponse"
				message="tns:addEmployeeResponse" />
		</operation>
		<operation name="getEmployee">
			<input wsam:Action="http://service/EmployeeService/getEmployeeRequest"
				message="tns:getEmployee" />
			<output wsam:Action="http://service/EmployeeService/getEmployeeResponse"
				message="tns:getEmployeeResponse" />
		</operation>
		<operation name="getEmployeesWithWrapper">
			<input
				wsam:Action="http://service/EmployeeService/getEmployeesWithWrapperRequest"
				message="tns:getEmployeesWithWrapper" />
			<output
				wsam:Action="http://service/EmployeeService/getEmployeesWithWrapperResponse"
				message="tns:getEmployeesWithWrapperResponse" />
		</operation>
		<operation name="getEmployeesWithArray">
			<input wsam:Action="http://service/EmployeeService/getEmployeesWithArrayRequest"
				message="tns:getEmployeesWithArray" />
			<output
				wsam:Action="http://service/EmployeeService/getEmployeesWithArrayResponse"
				message="tns:getEmployeesWithArrayResponse" />
		</operation>
	</portType>
	<binding name="EmployeeServiceImplPortBinding" type="tns:EmployeeService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="addEmployee">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://service/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://service/" />
			</output>
		</operation>
		<operation name="getEmployee">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://service/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://service/" />
			</output>
		</operation>
		<operation name="getEmployeesWithWrapper">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://service/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://service/" />
			</output>
		</operation>
		<operation name="getEmployeesWithArray">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://service/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://service/" />
			</output>
		</operation>
	</binding>
	<service name="EmployeeServiceImplService">
		<port name="EmployeeServiceImplPort" binding="tns:EmployeeServiceImplPortBinding">
			<soap:address
				location="http://localhost:8080/injavawetrust.jaxws.web/employeeServiceWS" />
		</port>
	</service>
</definitions>